.context-menu {
    -fx-background-color: #2b2b2b;
    -fx-background-radius: 5;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.3), 6, 0, 0, 2);

    -fx-pref-width: 200;
    -fx-padding: 6;
    -fx-spacing: 4;
}

.context-menu-button {
    -fx-text-fill: white;
    -fx-background-radius: 5;
    -fx-pref-height: 30;
    -fx-cursor: hand;
}

.context-menu-button:hover {
    -fx-background-color: #3b3b3b;
}

.context-menu-separator {
    -fx-opacity: 0.2;
}